<footer class="footer-area">
  <div class="footer-widget">
    <div class="container">
      <div class="row footer-widget-wrapper pt-100 pb-70">
        <!-- About -->
        <div class="col-md-6 col-lg-3">
          <div class="footer-widget-box about-us">
            <a class="footer-logo" href="{{ url_for('home') }}">
              <img src="/static/assets/img/logo/logo-light.png" alt="">
            </a>
            <p class="mb-1">
              Existen muchas variantes de los pasajes disponibles, pero el mayor ha sufrido alguna alteración debido a la inyección.
            </p>
            <div class="footer-call">
              <div class="footer-call-icon">
                <i class="fal fa-headset"></i>
              </div>
              <div class="footer-call-info">
                <p>¿Necesita ayuda 24/7?</p>
                <a href="tel:+22226667777">(+2) 222 666 7777</a>
              </div>
            </div>
            <div class="footer-download">
              <h5>Obtenga nuestra aplicación móvil</h5>
              <div class="footer-download-btn">
                <a href="#">
                  <i class="fab fa-google-play"></i>
                  <div class="download-btn-info">
                    <span>Consíguelo</span>
                    <h6>Google Play</h6>
                  </div>
                </a>
                <a href="#">
                  <i class="fab fa-app-store"></i>
                  <div class="download-btn-info">
                    <span>Consíguelo</span>
                    <h6>Tienda de aplicaciones</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Enlaces rápidos -->
        <div class="col-md-6 col-lg-2">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Enlaces rápidos</h4>
            <ul class="footer-list">
              <li><a href="{{ url_for('about') }}">Sobre nosotros</a></li>
              <li><a href="{{ url_for('become_seller') }}">Conviértete en vendedor</a></li>
              <li><a href="{{ url_for('contact') }}">Contáctenos</a></li>
              <li><a href="#">Actualizar noticias</a></li>
              <li><a href="#">Testimonios</a></li>
              <li><a href="#">Condiciones de servicio</a></li>
              <li><a href="#">Política de privacidad</a></li>
            </ul>
          </div>
        </div>

        <!-- Explorar categoría -->
        <div class="col-md-6 col-lg-2">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Explorar categoría</h4>
            <ul class="footer-list">
              <li><a href="#">Accesorios</a></li>
              <li><a href="#">Hogar y jardín</a></li>
              <li><a href="#">Electrónica</a></li>
              <li><a href="#">Salud y belleza</a></li>
              <li><a href="#">Comestibles</a></li>
              <li><a href="#">Juguetes para bebés</a></li>
              <li><a href="#">Música y vídeo</a></li>
            </ul>
          </div>
        </div>

        <!-- Centro de soporte -->
        <div class="col-md-6 col-lg-2">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Centro de soporte</h4>
            <ul class="footer-list">
              <li><a href="#">Preguntas frecuentes</a></li>
              <li><a href="#">Cómo comprar</a></li>
              <li><a href="#">Centro de soporte</a></li>
              <li><a href="#">Seguimiento de su pedido</a></li>
              <li><a href="#">Política de devoluciones</a></li>
              <li><a href="#">Nuestros afiliados</a></li>
              <li><a href="#">Mapa del sitio</a></li>
            </ul>
          </div>
        </div>

        <!-- Contacto -->
        <div class="col-md-6 col-lg-3">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Contáctanos</h4>
            <p>Contáctanos hoy mismo. Estamos listos para ayudarte.</p>
            <ul class="footer-contact">
              <li><a href="tel:+21236547898"><i class="far fa-phone"></i>+2 123 654 7898</a></li>
              <li><i class="far fa-map-marker-alt"></i>25/B Milford Road, Nueva York</li>
              <li><a href="mailto:info@goemart.com"><i class="far fa-envelope"></i>info@goemart.com</a></li>
              <li><i class="far fa-clock"></i>Lunes a viernes (9:00 a. m. a 8:00 p. m.)</li>
            </ul>
          </div>
        </div>

        <!-- Top links -->
        <div class="col-12">
          <div class="footer-top-link">
            <h5>Enlaces principales</h5>
            <div class="footer-top-link-info">
              <a href="#">Los más vendidos</a>
              <a href="#">Recién llegados</a>
              <a href="#">Accesorios</a>
              <a href="#">Electrónica</a>
              <a href="#">Comestibles</a>
              <a href="#">Belleza</a>
              <a href="#">Salud</a>
              <a href="#">Juguetes para bebés</a>
              <a href="#">Música</a>
              <a href="#">Muebles</a>
              <a href="#">Regalos</a>
              <a href="#">Deportes</a>
              <a href="#">Automotor</a>
              <a href="#">Mirar</a>
              <a href="#">Mapa del sitio</a>
              <a href="#">Nuestros afiliados</a>
              <a href="#">Política de devoluciones</a>
              <a href="#">Video</a>
              <a href="#">Hogar y jardín</a>
            </div>
          </div>
        </div>

      </div> <!-- /.row -->
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="copyright-wrap">
        <div class="row">
          <div class="col-12 col-lg-4 align-self-center">
            <div class="footer-payment">
              <span>Aceptamos:</span>
              <img src="/static/assets/img/payment/visa.svg" alt="">
              <img src="/static/assets/img/payment/mastercard.svg" alt="">
              <img src="/static/assets/img/payment/amex.svg" alt="">
              <img src="/static/assets/img/payment/discover.svg" alt="">
              <img src="/static/assets/img/payment/paypal.svg" alt="">
            </div>
          </div>
          <div class="col-12 col-lg-4 align-self-center">
            <p class="copyright-text">
              Derechos de autor <span id="date">{{ current_year or '' }}</span>
              <a href="{{ url_for('home') }}">Goemart</a> Reservados todos los derechos.
            </p>
          </div>
          <div class="col-12 col-lg-4 align-self-center">
            <div class="footer-social">
              <span>Síganos:</span>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-x-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div> <!-- /.row -->
      </div>
    </div>
  </div>
</footer>
